<!-- installation survey form content page 2 -->

  <!-- First Section - Form Title -->
  <div class="section pt-[40px] pb-[20px] border-b-1 border-blue-500">
    <h1>UPS INSTALLATION SURVEY FORM <i>(FORM SURVEY PEMASNAGAN UPS)</i></h1>
  </div>

  <!-- Third Section (cont..) -->
  <div class="section pt-4 pb-3">
    <div id="installation-survey-form-third-section" class="grid gap-3">
      <!-- Electrical Data Section -->
      <div>
        <h3>Electrical Data</h3>
        <div id="electrical-data-table" class="electrical-data-table grid grid-cols-6 relative">
          <div class="grid col-span-2">Components</div>
          <div>Availability</div>
          <div>Capacity</div>
          <div>Type</div>
          <div>Size</div>
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">Power / PLN</div>
          <select name="powerAvailability" id="powerAvailability">
            <option value="available">Available</option>
            <option value="not available">Not Available</option>
          </select>
          <input type="number" name="powerCapacity`" id="powerCapacity`" placeholder="0">
          <input type="text" name="powerType`" id="powerType`" placeholder="type">
          <input type="number" name="powerSize`" id="powerSize`" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">Genset</div>
          <select name="gensetAvailability" id="gensetAvailability">
            <option value="available">Available</option>
            <option value="not available">Not Available</option>
          </select>
          <input type="number" name="gensetCapacity`" id="gensetCapacity`" placeholder="0">
          <input type="text" name="gensetType`" id="gensetType`" placeholder="type">
          <input type="number" name="gensetSize`" id="gensetSize`" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">ATS / COS</div>
          <select name="switchAvailability" id="switchAvailability">
            <option value="available">Available</option>
            <option value="not available">Not Available</option>
          </select>
          <input type="number" name="switchCapacity`" id="switchCapacity`" placeholder="0">
          <input type="text" name="switchType`" id="switchType`" placeholder="type">
          <input type="number" name="switchSize`" id="switchSize`" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">MDP</div>
          <select name="mdpAvailability" id="mdpAvailability">
            <option value="available">Available</option>
            <option value="not available">Not Available</option>
          </select>
          <input type="number" name="mdpCapacity`" id="mdpCapacity`" placeholder="0">
          <input type="text" name="mdpType`" id="mdpType`" placeholder="type">
          <input type="number" name="mdpSize`" id="mdpSize`" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">Panel In-Out</div>
          <select name="inOutPanelAvailability" id="inOutPanelAvailability">
            <option value="available">Available</option>
            <option value="not available">Not Available</option>
          </select>
          <input type="number" name="inOutPanelCapacity`" id="inOutPanelCapacity`" placeholder="0">
          <input type="text" name="inOutPanelType`" id="inOutPanelType`" placeholder="type">
          <input type="number" name="inOutPanelSize`" id="inOutPanelSize`" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">Distribution Panel</div>
          <select name="distributionPanelAvailability" id="distributionPanelAvailability">
            <option value="available">Available</option>
            <option value="not available">Not Available</option>
          </select>
          <input type="number" name="distributionPanelCapacity`" id="distributionPanelCapacity`" placeholder="0">
          <input type="text" name="distributionPanelType`" id="distributionPanelType`" placeholder="type">
          <input type="number" name="distributionPanelSize`" id="distributionPanelSize`" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">Feeder cable</div>
          <select name="feederCableAvailability" id="feederCableAvailability">
            <option value="available">Available</option>
            <option value="not available">Not Available</option>
          </select>
          <input type="number" name="feederCableCapacity`" id="feederCableCapacity`" placeholder="0">
          <input type="text" name="feederCableType`" id="feederCableType`" placeholder="type">
          <input type="number" name="feederCableSize`" id="feederCableSize`" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">In-Out Cable</div>
          <select name="inOutCableAvailability" id="inOutCableAvailability">
            <option value="available">Available</option>
            <option value="not available">Not Available</option>
          </select>
          <input type="number" name="inOutCableCapacity`" id="inOutCableCapacity`" placeholder="0">
          <input type="text" name="inOutCableType`" id="inOutCableType`" placeholder="type">
          <input type="number" name="inOutCableSize`" id="inOutCableSize`" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">Grounding</div>
          <select name="groundingAvailability" id="groundingAvailability">
            <option value="available">Available</option>
            <option value="not available">Not Available</option>
          </select>
          <input type="number" name="groundingCapacity`" id="groundingCapacity`" placeholder="0">
          <input type="text" name="groundingType`" id="groundingType`" placeholder="type">
          <input type="number" name="groundingSize`" id="groundingSize`" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">Distribution</div>
          <select name="distributionAvailability" id="distributionAvailability">
            <option value="available">Available</option>
            <option value="not available">Not Available</option>
          </select>
          <input type="number" name="distributionCapacity`" id="distributionCapacity`" placeholder="0">
          <input type="text" name="distributionType`" id="distributionType`" placeholder="type">
          <input type="number" name="distributionSize`" id="distributionSize`" placeholder="0">
        </div>  
      </div>
      <div class="custom-input-row grid">
        <div class="custom-input-width">
        <h3>Electrical Data Note</h3>
        <textarea class="custom-input" rows="4" placeholder="note..."></textarea>
        </div>
      </div>

      <!-- Electrical Measurement Data Section -->
      <div>
        <h3>Electrical Measurement Data</h3>
        <div id="electrical-data-table" class="electrical-data-table grid grid-cols-9 relative">
          <div class="grid col-span-2 row-span-2">Components</div>
          <div class="grid col-span-4">Voltage</div>
          <div class="grid col-span-3">Current</div>
          <div>R-N</div>
          <div>S-N</div>
          <div>T-N</div>
          <div>PE-N</div>
          <div>R</div>
          <div>S</div>
          <div>T</div>
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">Power / PLN</div>
          <input type="number" name="powerVolt1" id="powerVolt1" placeholder="0">
          <input type="number" name="powerVolt2" id="powerVolt2" placeholder="0">
          <input type="number" name="powerVolt3" id="powerVolt3" placeholder="0">
          <input type="number" name="powerVolt4" id="powerVolt4" placeholder="0">
          <input type="number" name="powerAmpere1" id="powerAmpere1" placeholder="0">
          <input type="number" name="powerAmpere2" id="powerAmpere2" placeholder="0">
          <input type="number" name="powerAmpere3" id="powerAmpere3" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">Genset</div>
          <input type="number" name="gensetVolt1" id="gensetVolt1" placeholder="0">
          <input type="number" name="gensetVolt2" id="gensetVolt2" placeholder="0">
          <input type="number" name="gensetVolt3" id="gensetVolt3" placeholder="0">
          <input type="number" name="gensetVolt4" id="gensetVolt4" placeholder="0">
          <input type="number" name="gensetAmpere1" id="gensetAmpere1" placeholder="0">
          <input type="number" name="gensetAmpere2" id="gensetAmpere2" placeholder="0">
          <input type="number" name="gensetAmpere3" id="gensetAmpere3" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">ATS / COS</div>
          <div class="col-span-4">
            <input type="number" class="w-1/4 h-[20px]" style="border-width: 0 0 1px 0 !important;">Ohm / Volt
          </div>
          <div class="col-span-3 bg-[#7c7c7c]"></div>
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">MDP</div>
          <input type="number" name="mdpVolt1" id="mdpVolt1" placeholder="0">
          <input type="number" name="mdpVolt2" id="mdpVolt2" placeholder="0">
          <input type="number" name="mdpVolt3" id="mdpVolt3" placeholder="0">
          <input type="number" name="mdpVolt4" id="mdpVolt4" placeholder="0">
          <input type="number" name="mdpAmpere1" id="mdpAmpere1" placeholder="0">
          <input type="number" name="mdpAmpere2" id="mdpAmpere2" placeholder="0">
          <input type="number" name="mdpAmpere3" id="mdpAmpere3" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">Panel In-Out</div>
          <input type="number" name="inOutPanelVolt1" id="inOutPanelVolt1" placeholder="0">
          <input type="number" name="inOutPanelVolt2" id="inOutPanelVolt2" placeholder="0">
          <input type="number" name="inOutPanelVolt3" id="inOutPanelVolt3" placeholder="0">
          <input type="number" name="inOutPanelVolt4" id="inOutPanelVolt4" placeholder="0">
          <input type="number" name="inOutPanelAmpere1" id="inOutPanelAmpere1" placeholder="0">
          <input type="number" name="inOutPanelAmpere2" id="inOutPanelAmpere2" placeholder="0">
          <input type="number" name="inOutPanelAmpere3" id="inOutPanelAmpere3" placeholder="0">
          <div class="grid col-span-2" style="text-align: left; padding-inline: 12px;">Distribution Panel</div>
          <input type="number" name="distributionPanelVolt1" id="distributionPanelVolt1" placeholder="0">
          <input type="number" name="distributionPanelVolt2" id="distributionPanelVolt2" placeholder="0">
          <input type="number" name="distributionPanelVolt3" id="distributionPanelVolt3" placeholder="0">
          <input type="number" name="distributionPanelVolt4" id="distributionPanelVolt4" placeholder="0">
          <input type="number" name="distributionPanelAmpere1" id="distributionPanelAmpere1" placeholder="0">
          <input type="number" name="distributionPanelAmpere2" id="distributionPanelAmpere2" placeholder="0">
          <input type="number" name="distributionPanelAmpere3" id="distributionPanelAmpere3" placeholder="0">
        </div>  
      </div>
      <div class="custom-input-row grid">
        <div class="custom-input-width">
        <h3>Electrical Measurement Note</h3>
        <textarea class="custom-input" rows="4" placeholder="note..."></textarea>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section pb-[20px] border-b-1 border-blue-500 grid gap-3 ">
    <div class="custom-input-row grid">
      <div class="custom-input-width">
        <h3>Note:</h3>
        <textarea class="custom-input" rows="4" placeholder="note..."></textarea>
      </div>
    </div>

    <!-- Signature Section -->
    <h3>Tanda Tangan:</h3>
    <div id="signature-section" class="custom-border grid grid-cols-12">
      <!-- Customer Signature Panel -->
      <div id="customer-signature-column" class="col-span-6">
        <h3 class="custom-border col-span-6 flex items-center pl-3 gap-1">Customer:</h3>
        <div class="grid grid-cols-6">
          <!-- First Signature Pad -->
          <div class="relative col-span-3">
            <canvas id="customer-signature-pad-1" class="custom-border w-full"></canvas>
            <img src="/static/images/clear.png" alt="clear" id="clear-customer-signature-1" class="absolute w-6 h-6 right-1 top-1">
          </div>
          <!-- Second Signature Pad -->
          <div class="relative col-span-3">
            <canvas id="customer-signature-pad-2" class="custom-border w-full"></canvas>
            <img src="/static/images/clear.png" alt="clear" id="clear-customer-signature-2" class="absolute w-6 h-6 right-1 top-1">
          </div>
        </div>
        <div class="grid grid-cols-6">
          <input type="text" placeholder="customer name" class="custom-border mr-custom-input col-span-3">
          <input type="text" placeholder="customer name" class="custom-border mr-custom-input col-span-3">
        </div>
      </div>
      <!-- Engineer Signature Panel -->
      <div id="engineer-signature-column" class="col-span-6">
        <h3 class="custom-border col-span-6 flex items-center pl-3 gap-1">Engineer:</h3>
        <div class="grid grid-cols-6">
          <!-- First Signature Pad -->
          <div class="relative col-span-3">
            <canvas id="engineer-signature-pad-1" class="custom-border w-full"></canvas>
            <img src="/static/images/clear.png" alt="clear" id="clear-engineer-signature-1" class="absolute w-6 h-6 right-1 top-1">
          </div>
          <!-- Second Signature Pad -->
          <div class="relative col-span-3">
            <canvas id="engineer-signature-pad-2" class="custom-border w-full"></canvas>
            <img src="/static/images/clear.png" alt="clear" id="clear-engineer-signature-2" class="absolute w-6 h-6 right-1 top-1">
          </div>
        </div>
        <div class="grid grid-cols-6">
          <input type="text" placeholder="engineer name" class="custom-border mr-custom-input col-span-3">
          <input type="text" placeholder="engineer name" class="custom-border mr-custom-input col-span-3">
        </div>
      </div>
    </div>
  </div>

<!-- end of installation survey form content page 2 -->
