<!-- project checklist form content page 1 -->

  <!-- First Section - Form Title -->
  <div class="section pt-[40px] pb-[20px] border-b-1 border-blue-500">
    <h1>TESTING & COMMISIONING REPORT <i>(UPS PROJECT & CHECKLIST FORM)</i></h1>
  </div>
  
  <!-- Second Section -->
  <div class="section pt-4 pb-[20px] border-b-1 border-blue-500">
    <div class="grid grid-row gap-4">
      <div class="custom-input-row grid grid-cols-2">
        <div class="custom-input-width">
          <h3>Ref. No.</h3>
          <input class="custom-input" type="text" placeholder="ref number"/>
        </div>
        <div class="custom-input-width">
          <h3>Date</i></h3>
          <input class="custom-input w-[240px]" type="date"/>
        </div>
      </div>
    </div>
  </div>

<!-- end of project checklist form content page 1 -->
