body {
  overflow-x: hidden;
}

.reverse-button {
  background-color: #ffffff;
  color: #00ACBA;
  border-color: #00ACBA;
  border-width: 1px;
}

.reverse-button:hover {
  background-color: #e0e0e0;
  color: #008a99;
}

#register-button {
  background-color: #00ACBA;
  color: #ffffff;
}

#register-button:hover:not(:disabled) {
  background-color: #008a99;
}

#register-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.form input {
  border-color: #00ACBA;
  border-width: 1px;
}

::placeholder {
  color: rgba(150, 150, 150, 0.5);
  opacity: 1;
}

.header-menu-item {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.header-menu-item a h2 {
  padding-inline: 5px;
}

.active {
  background-color: #FDD900;
  height: 4px;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.custom-input {
  margin-top: 0.5rem;
  width: 100%;
  border-width: 2px;
  border-color: #CDD1D2;
  border-radius: 0.125rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;  
}

.custom-input:focus {
  border-color: #8FBD40;
  outline: none;
}

.measurement-result > input,
#material-unit-container input,
.table-custom-input,
.electrical-data-table > input {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;  
}

input[type=radio] {
  height: 16px;
  width: 16px;
}

#single-phase-form-third-section > div,
#installation-survey-form-third-section > div > div,
#project-checklist-form-third-section > div,
.ups-start-up-checklist-section > div,
.ups-startup-checklist-sec-subsec1 > div > div > label,
.ups-measurement-sec-subsec > div > div > label {
  padding-left: 12px;
}

#installation-survey-form-third-section > div > h3 {
  margin-bottom: 4px;
}

label {
  cursor: pointer;
}

/* remove increment/decrement arrow on input tag */
.measurement-result > input::-webkit-outer-spin-button,
.measurement-result > input::-webkit-inner-spin-button,
#material-unit-container input::-webkit-outer-spin-button,
#material-unit-container input::-webkit-inner-spin-button,
#assignment-product-table input::-webkit-outer-spin-button,
#assignment-product-table input::-webkit-inner-spin-button,
.battery-testing-table input::-webkit-outer-spin-button,
.battery-testing-table input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.measurement-result > input[type=number], 
#material-unit-container input[type=number],
#assignment-product-table input[type=number],
.battery-testing-table input[type=number] {
  -moz-appearance: textfield;
}

/* battery-mr-table: mr stands for measurement result */
.measurement-result div, .measurement-result input,
#material-unit-container div, #material-unit-container input,
#assignment-product-table div, #assignment-product-table input,
.battery-testing-table div, .battery-testing-table input,
.battery-mr-table div, .battery-mr-table input,
.product-information-table div, .product-information-table input,
.electrical-data-table div, .electrical-data-table input,
.custom-border, select {
  border-width: 1px;
  border-color: #000000;
  text-align: center;
}

#engineer-signature-pad-1, #engineer-signature-pad-2,
#customer-signature-pad-1, #customer-signature-pad-2 {
  background: #fff;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}


@media only screen and (min-width: 600px) {
  h1 {
    font-size: 16px;
    font-weight: 800;
  } 
  h2 {
    font-size: 16px;
    font-weight: 400;
  }
  h3 {
    font-size: 12px;
    font-weight: 600;
  }
  #content, #header, #footer {
    padding: 30px;
  }
  .section {
    padding-inline: 30px;
  }
  .measurement-result {
    font-size: 14px;
  }
  .header-menu-item {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  label {
    font-size: 12px;
  }
}

@media only screen and (min-width: 769px) {
  h1 {
    font-size: 18px;
    font-weight: 800;
  } 
  h2 {
    font-size: 18px;
    font-weight: 400;
  }
  h3 {
    font-size: 14px;
    font-weight: 600;
  }
  #content {
    padding: 70px;
  }
  #header, #footer {
    padding-inline: 70px;
  }
  .section {
    padding-inline: 40px;
  }
  .measurement-result {
    font-size: 16px;
  }
  .header-menu-item {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
  label {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 20px;
    font-weight: 800;
  } 
  h2 {
    font-size: 20px;
    font-weight: 400;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
  }
  #content  {
    padding: 80px 100px;
  }
  #header, #footer  {
    padding: 50px 100px;
  }
  .section{
    padding-inline: 50px;
  }
  .measurement-result {
    font-size: 16px;
  }
  .header-menu-item {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
  label {
    font-size: 16px;
  }
}